IMPORT THƯ VIỆN

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
from bs4 import BeautifulSoup
pd.options.mode.chained_assignment = None
from re import sub
import csv
import html as ihtml

In [2]:
df = pd.read_csv("rawDataset - rawDataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84772 entries, 0 to 84771
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       84749 non-null  object
 1   Comment    84762 non-null  object
 2   Time       84771 non-null  object
 3   Store      84758 non-null  object
 4   Translate  84772 non-null  object
dtypes: object(5)
memory usage: 3.2+ MB

In [3]:
df = df.drop('Comment', axis=1)

In [4]:
df.columns = df.columns.str.replace('Translate', 'Comment')

In [5]:
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert&#39;s dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"Not really, there are a lot of people inside r..."
2,John Miller,10-03-2020,Amazon Go,lol exactly
3,John Miller,10-03-2020,Amazon Go,@WTFIWFYDB wtf are you talking about
4,Soundwave,11-03-2020,Amazon Go,This won’t change anything for introverts; the...
...,...,...,...,...
84767,Hannah Thomas,02/11/2022,Smart Cart,Okay thank you
84768,Hannah Thomas,02/11/2022,Smart Cart,The actual reason is that I want to be able to...
84769,Hookedmedia.1,02/11/2022,Smart Cart,Why
84770,Kelvin_kufley,02/11/2022,Smart Cart,Why cause you can’t steal?
84771,Hannah Thomas,02/11/2022,Smart Cart,Yes that’s literally exactly the reason

1. XÓA URL

In [6]:
df["Comment"] = df["Comment"].astype(str)

In [7]:
def clean_text(text):
    text = BeautifulSoup(ihtml.unescape(text)).text
    text = re.sub(r"http[s]?://\S+", "", text)
    text = re.sub(r"\s+", " ", text)    
    return text

In [8]:
for i in range(len(df)):
  df.Comment[i]=clean_text(df.Comment[i])

C:\Users\HienPhuong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
C:\Users\HienPhuong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\bs4\__init__.py:404: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [9]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)
for i in range(len(df)):
  df.Comment[i]=remove_urls(df.Comment[i])

In [10]:
df.Comment

0                                  every introvert's dream
1        Not really, there are a lot of people inside r...
2                                              lol exactly
3                     @WTFIWFYDB wtf are you talking about
4        This won’t change anything for introverts; the...
                               ...
84767                                       Okay thank you
84768    The actual reason is that I want to be able to...
84769                                                  Why
84770                           Why cause you can’t steal?
84771              Yes that’s literally exactly the reason
Name: Comment, Length: 84772, dtype: object

remove html tag

In [11]:
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

df["Comment"] = df["Comment"].apply(lambda text: remove_html(text))
df.head()

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert's dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"Not really, there are a lot of people inside r..."
2,John Miller,10-03-2020,Amazon Go,lol exactly
3,John Miller,10-03-2020,Amazon Go,@WTFIWFYDB wtf are you talking about
4,Soundwave,11-03-2020,Amazon Go,This won’t change anything for introverts; the...

Expand Constraction

In [12]:
# Dictionary of English Contractions
contractions_dict = { "ain't": "are not","'s":" is","aren't": "are not",
                     "can't": "cannot","can't've": "cannot have",
                     "'cause": "because","could've": "could have","couldn't": "could not",
                     "couldn't've": "could not have", "didn't": "did not","doesn't": "does not",
                     "don't": "do not","hadn't": "had not","hadn't've": "had not have",
                     "hasn't": "has not","haven't": "have not","he'd": "he would",
                     "he'd've": "he would have","he'll": "he will", "he'll've": "he will have",
                     "how'd": "how did","how'd'y": "how do you","how'll": "how will",
                     "i'd": "i would", "i'd've": "i would have","i'll": "i will", 
                     "i'll've": "i will have","i'm": "i am","i've": "i have", "isn't": "is not",
                     "it'd": "it would","it'd've": "it would have","it'll": "it will",
                     "it'll've": "it will have", "let's": "let us","ma'am": "madam",
                     "mayn't": "may not","might've": "might have","mightn't": "might not", 
                     "mightn't've": "might not have","must've": "must have","mustn't": "must not",
                     "mustn't've": "must not have", "needn't": "need not",
                     "needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not",
                     "oughtn't've": "ought not have","shan't": "shall not","sha'n't": "shall not",
                     "shan't've": "shall not have","she'd": "she would","she'd've": "she would have",
                     "she'll": "she will", "she'll've": "she will have","should've": "should have",
                     "shouldn't": "should not", "shouldn't've": "should not have","so've": "so have",
                     "that'd": "that would","that'd've": "that would have", "there'd": "there would",
                     "there'd've": "there would have", "they'd": "they would",
                     "they'd've": "they would have","they'll": "they will",
                     "they'll've": "they will have", "they're": "they are","they've": "they have",
                     "to've": "to have","wasn't": "was not","we'd": "we would",
                     "we'd've": "we would have","we'll": "we will","we'll've": "we will have",
                     "we're": "we are","we've": "we have", "weren't": "were not","what'll": "what will",
                     "what'll've": "what will have","what're": "what are", "what've": "what have",
                     "when've": "when have","where'd": "where did", "where've": "where have",
                     "who'll": "who will","who'll've": "who will have","who've": "who have",
                     "why've": "why have","will've": "will have","won't": "will not",
                     "won't've": "will not have", "would've": "would have","wouldn't": "would not",
                     "wouldn't've": "would not have","y'all": "you all", "y'all'd": "you all would",
                     "y'all'd've": "you all would have","y'all're": "you all are",
                     "y'all've": "you all have", "you'd": "you would","you'd've": "you would have",
                     "you'll": "you will","you'll've": "you will have", "you're": "you are",
                     "you've": "you have"}

# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

# Function for expanding contractions
def expand_contractions(text,contractions_dict=contractions_dict):
  def replace(match):
    return contractions_dict[match.group(0)]
  return contractions_re.sub(replace, text)

# Expanding Contractions in the reviews
df['Comment']=df['Comment'].apply(lambda x:expand_contractions(x))

In [13]:
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert is dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"Not really, there are a lot of people inside r..."
2,John Miller,10-03-2020,Amazon Go,lol exactly
3,John Miller,10-03-2020,Amazon Go,@WTFIWFYDB wtf are you talking about
4,Soundwave,11-03-2020,Amazon Go,This won’t change anything for introverts; the...
...,...,...,...,...
84767,Hannah Thomas,02/11/2022,Smart Cart,Okay thank you
84768,Hannah Thomas,02/11/2022,Smart Cart,The actual reason is that I want to be able to...
84769,Hookedmedia.1,02/11/2022,Smart Cart,Why
84770,Kelvin_kufley,02/11/2022,Smart Cart,Why cause you can’t steal?
84771,Hannah Thomas,02/11/2022,Smart Cart,Yes that’s literally exactly the reason

in lớn để chat word

In [14]:
df["Comment"] = df["Comment"].str.upper()
df.Comment

0                                 EVERY INTROVERT IS DREAM
1        NOT REALLY, THERE ARE A LOT OF PEOPLE INSIDE R...
2                                              LOL EXACTLY
3                     @WTFIWFYDB WTF ARE YOU TALKING ABOUT
4        THIS WON’T CHANGE ANYTHING FOR INTROVERTS; THE...
                               ...
84767                                       OKAY THANK YOU
84768    THE ACTUAL REASON IS THAT I WANT TO BE ABLE TO...
84769                                                  WHY
84770                           WHY CAUSE YOU CAN’T STEAL?
84771              YES THAT’S LITERALLY EXACTLY THE REASON
Name: Comment, Length: 84772, dtype: object

Chuẩn hóa 1 số từ viết tắt

In [15]:
chat_words_str = """
AFAIK=As Far As I Know
AFK=Away From Keyboard
ASAP=As Soon As Possible
ATK=At The Keyboard
ATM=At The Moment
A3=Anytime, Anywhere, Anyplace
BAK=Back At Keyboard
BBL=Be Back Later
BBS=Be Back Soon
BFN=Bye For Now
B4N=Bye For Now
BRB=Be Right Back
BRT=Be Right There
BTW=By The Way
B4=Before
B4N=Bye For Now
CU=See You
CUL8R=See You Later
CYA=See You
FAQ=Frequently Asked Questions
FC=Fingers Crossed
FWIW=For What It's Worth
FYI=For Your Information
GAL=Get A Life
GG=Good Game
GN=Good Night
GMTA=Great Minds Think Alike
GR8=Great!
G9=Genius
IC=I See
ICQ=I Seek you (also a chat program)
ILU=ILU: I Love You
IMHO=In My Honest/Humble Opinion
IMO=In My Opinion
IOW=In Other Words
IRL=In Real Life
KISS=Keep It Simple, Stupid
LDR=Long Distance Relationship
LMAO=Laugh My A.. Off
LOL=Laughing Out Loud
LTNS=Long Time No See
L8R=Later
MTE=My Thoughts Exactly
M8=Mate
NRN=No Reply Necessary
OIC=Oh I See
PITA=Pain In The A..
PRT=Party
PRW=Parents Are Watching
ROFL=Rolling On The Floor Laughing
ROFLOL=Rolling On The Floor Laughing Out Loud
ROTFLMAO=Rolling On The Floor Laughing My A.. Off
SK8=Skate
STATS=Your sex and age
ASL=Age, Sex, Location
THX=Thank You
TTFN=Ta-Ta For Now!
TTYL=Talk To You Later
U=You
U2=You Too
U4E=Yours For Ever
WB=Welcome Back
WTF=What The F...
WTG=Way To Go!
WUF=Where Are You From?
W8=Wait...
7K=Sick:-D Laugher
&=and
"""

In [16]:
chat_words_map_dict = {}
chat_words_list = []
for line in chat_words_str.split("\n"):
    if line != "":
        cw = line.split("=")[0]
        cw_expanded = line.split("=")[1]
        chat_words_list.append(cw)
        chat_words_map_dict[cw] = cw_expanded
chat_words_list = set(chat_words_list)

def chat_words_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words_list:
            new_text.append(chat_words_map_dict[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [17]:
for i in range(len(df)):
  df.Comment[i]=chat_words_conversion(df.Comment[i])

2. Đưa dữ liệu về chữ thường

In [18]:
df["Comment"] = df["Comment"].str.lower()
df.Comment

0                                 every introvert is dream
1        not really, there are a lot of people inside r...
2                                laughing out loud exactly
3           @wtfiwfydb what the f... are you talking about
4        this won’t change anything for introverts; the...
                               ...
84767                                       okay thank you
84768    the actual reason is that i want to be able to...
84769                                                  why
84770                           why cause you can’t steal?
84771              yes that’s literally exactly the reason
Name: Comment, Length: 84772, dtype: object

In [19]:
from itertools import groupby

In [20]:
def remove_repeatcharacter(text):
    return ''.join(''.join(s)[:2] for _, s in groupby(text))
df["Comment"] = df["Comment"].apply(lambda text: remove_repeatcharacter(text))

In [21]:
# remove tag @username
df["Comment"] = df["Comment"].str.replace("@[A-Za-z0-9]+","")

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_16180\1403891560.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Comment"] = df["Comment"].str.replace("@[A-Za-z0-9]+","")

In [22]:
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert is dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"not really, there are a lot of people inside r..."
2,John Miller,10-03-2020,Amazon Go,laughing out loud exactly
3,John Miller,10-03-2020,Amazon Go,what the f.. are you talking about
4,Soundwave,11-03-2020,Amazon Go,this won’t change anything for introverts; the...
...,...,...,...,...
84767,Hannah Thomas,02/11/2022,Smart Cart,okay thank you
84768,Hannah Thomas,02/11/2022,Smart Cart,the actual reason is that i want to be able to...
84769,Hookedmedia.1,02/11/2022,Smart Cart,why
84770,Kelvin_kufley,02/11/2022,Smart Cart,why cause you can’t steal?
84771,Hannah Thomas,02/11/2022,Smart Cart,yes that’s literally exactly the reason

Chuyển emoji, emoticon -> text

In [23]:
!pip install emot

Requirement already satisfied: emot in c:\users\hienphuong\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1)

In [24]:
import re
from emot.emo_unicode import EMOTICONS_EMO
def convert_emoticons(text):
    for emot in EMOTICONS_EMO:
        text = text.replace(emot, " ".join(EMOTICONS_EMO[emot].replace(",","").replace(":","").split()))
    return text

convert_emoticons(":) 😊")

'Happy face or smiley 😊'

In [25]:
pip install emoji

Requirement already satisfied: emoji in c:\users\hienphuong\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install demoji

Requirement already satisfied: demoji in c:\users\hienphuong\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import emoji
def extract_emojis(text):
     new_text = []
     new_text.append(emoji.demojize(text, delimiters=("", "")))
     return " ".join(new_text)

In [28]:
extract_emojis("😊")

'smiling_face_with_smiling_eyes'

In [29]:
for i in range(len(df)):
  df.Comment[i]=extract_emojis(df.Comment[i])

In [30]:
df['Comment'] = df['Comment'].str.replace("_", " ")

In [31]:
df['Comment'] = df['Comment'].str.replace("-", " ")

In [32]:
df['Comment'] = df['Comment'].str.replace("  ", " ")

In [33]:
df.Comment= df.Comment.str.replace(r'\b\w\b', '').str.replace(r'\s+', ' ')
df.Comment

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_16180\1485136920.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.Comment= df.Comment.str.replace(r'\b\w\b', '').str.replace(r'\s+', ' ')

0                                 every introvert is dream
1        not really, there are lot of people inside reg...
2                                laughing out loud exactly
3                        what the .. are you talking about
4        this won’ change anything for introverts; ther...
                               ...
84767                                       okay thank you
84768    the actual reason is that want to be able to s...
84769                                                  why
84770                            why cause you can’ steal?
84771               yes that’ literally exactly the reason
Name: Comment, Length: 84772, dtype: object

In [35]:
# lemmatize words with spacy
import spacy
nlp = spacy.load('en_core_web_sm')
def lemmatize_words(text):
    return " ".join([token.lemma_ for token in nlp(text)])
text = "last day i did homework, walked . now i am going to work. today he goes to school, police walks to school"
lemmatize_words(text)
# apply lemmatize_words function to comment column
df["Comment"] = df["Comment"].apply(lambda text: lemmatize_words(text))

tách câu

In [36]:
df = (
 df.assign(Comment=df['Comment'].str.split('.'))
   .explode('Comment')
   .reset_index(drop=True)
)
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert be dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"not really , there be lot of people inside reg..."
2,WTFIWFYDB,09-03-2020,Amazon Go,
3,John Miller,10-03-2020,Amazon Go,laugh out loud exactly
4,John Miller,10-03-2020,Amazon Go,what the
...,...,...,...,...
252733,Hannah Thomas,02/11/2022,Smart Cart,okay thank you
252734,Hannah Thomas,02/11/2022,Smart Cart,the actual reason be that want to be able to s...
252735,Hookedmedia.1,02/11/2022,Smart Cart,why
252736,Kelvin_kufley,02/11/2022,Smart Cart,why cause you can ' steal ?
252737,Hannah Thomas,02/11/2022,Smart Cart,yes that ' literally exactly the reason

In [37]:
df = (
 df.assign(Comment=df['Comment'].str.split('except'))
   .explode('Comment')
   .reset_index(drop=True)
)
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert be dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"not really , there be lot of people inside reg..."
2,WTFIWFYDB,09-03-2020,Amazon Go,
3,John Miller,10-03-2020,Amazon Go,laugh out loud exactly
4,John Miller,10-03-2020,Amazon Go,what the
...,...,...,...,...
253129,Hannah Thomas,02/11/2022,Smart Cart,okay thank you
253130,Hannah Thomas,02/11/2022,Smart Cart,the actual reason be that want to be able to s...
253131,Hookedmedia.1,02/11/2022,Smart Cart,why
253132,Kelvin_kufley,02/11/2022,Smart Cart,why cause you can ' steal ?
253133,Hannah Thomas,02/11/2022,Smart Cart,yes that ' literally exactly the reason

In [38]:
df = (
 df.assign(Comment=df['Comment'].str.split('but'))
   .explode('Comment')
   .reset_index(drop=True)
)
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert be dream
1,WTFIWFYDB,09-03-2020,Amazon Go,"not really , there be lot of people inside reg..."
2,WTFIWFYDB,09-03-2020,Amazon Go,
3,John Miller,10-03-2020,Amazon Go,laugh out loud exactly
4,John Miller,10-03-2020,Amazon Go,what the
...,...,...,...,...
268231,Hannah Thomas,02/11/2022,Smart Cart,okay thank you
268232,Hannah Thomas,02/11/2022,Smart Cart,the actual reason be that want to be able to s...
268233,Hookedmedia.1,02/11/2022,Smart Cart,why
268234,Kelvin_kufley,02/11/2022,Smart Cart,why cause you can ' steal ?
268235,Hannah Thomas,02/11/2022,Smart Cart,yes that ' literally exactly the reason

BỎ SỐ, BỎ DẤU CÂU

In [39]:
df['Comment'] = df['Comment'].str.replace('\d+', '')
df.Comment

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_16180\761449715.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Comment'] = df['Comment'].str.replace('\d+', '')

0                                  every introvert be dream
1         not really , there be lot of people inside reg...
2
3                                    laugh out loud exactly
4                                                 what the
                                ...
268231                                       okay thank you
268232    the actual reason be that want to be able to s...
268233                                                  why
268234                          why cause you can ' steal ?
268235              yes that ' literally exactly the reason
Name: Comment, Length: 268236, dtype: object

In [40]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["Comment"] = df["Comment"].apply(lambda text: remove_punctuation(text))

In [41]:
df.Comment

0                                  every introvert be dream
1         not really  there be lot of people inside rega...
2
3                                    laugh out loud exactly
4                                                 what the
                                ...
268231                                       okay thank you
268232    the actual reason be that want to be able to s...
268233                                                  why
268234                            why cause you can  steal
268235               yes that  literally exactly the reason
Name: Comment, Length: 268236, dtype: object

XÓA STOPWORDS

In [42]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [43]:
# stop_words = stopwords.words('english').remove("not", "no", "never", "nor", "but","too", "very", "can", "but", "very", "just", "don", "doesn", "didn", "wasn", "weren", "isn", "aren", "haven", "hasn", "hadn", "won", "wouldn", "shouldn", "couldn", "mustn", "mightn", "needn", "shan",  "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't")
# stop_words
all_stopwords = stopwords.words('english')
all_stopwords.remove('not')
all_stopwords.remove('nor')
all_stopwords.remove('no')
all_stopwords.remove('but')
all_stopwords.remove('too')
all_stopwords.remove('very')
all_stopwords.remove('just')
all_stopwords.remove('don')
all_stopwords.remove('doesn')
all_stopwords.remove('didn')
all_stopwords.remove('wasn')
all_stopwords.remove('weren')
all_stopwords.remove('isn')
all_stopwords.remove('aren')
all_stopwords.remove('haven')
all_stopwords.remove('hasn')
all_stopwords.remove('hadn')
all_stopwords.remove('won')
all_stopwords.remove('wouldn')
all_stopwords.remove('shouldn')
all_stopwords.remove('couldn')
all_stopwords.remove('mustn')
all_stopwords.remove('mightn')
all_stopwords.remove('needn')
all_stopwords.remove('shan')
print(all_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 's', 't', 'can', 'will', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', "aren't", "couldn't", "didn't", "doesn't", "hadn't", "hasn't", "haven't", "isn't", 'ma', "mightn't", "mustn't", "needn't", "shan't", "shouldn't", "wasn't", "weren't", "won't", "wouldn't"]

In [44]:
# remove stopwords in all_stopwords
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in all_stopwords])
text= "i dont like he because he is bad not do it please don't"
remove_stopwords(text)

'dont like bad not please'

In [45]:
df["Comment"] = df["Comment"].apply(lambda text: remove_stopwords(text))

Remove ký tự lạ, ko xóa white space

In [46]:
df['Comment']=df['Comment'].str.replace('[^\w\s]', '')
#show comment
df.Comment

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_16180\3429141368.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Comment']=df['Comment'].str.replace('[^\w\s]', '')

0                                     every introvert dream
1         not really lot people inside regardless online...
2
3                                        laugh loud exactly
4
                                ...
268231                                           okay thank
268232    actual reason want able steal peace kelvin kufley
268233
268234                                          cause steal
268235                         yes literally exactly reason
Name: Comment, Length: 268236, dtype: object

In [47]:
#remove character 1 word nonsens 
df['Comment'] = df['Comment'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))
#show change after remove character 1 word nonsens
df.Comment

0                                     every introvert dream
1         not really lot people inside regardless online...
2
3                                        laugh loud exactly
4
                                ...
268231                                           okay thank
268232    actual reason want able steal peace kelvin kufley
268233
268234                                          cause steal
268235                         yes literally exactly reason
Name: Comment, Length: 268236, dtype: object

In [48]:
# count row in df 
df.shape

(268236, 4)

In [49]:
#check and remove null value
df.isnull().sum()

Name       31
Time        1
Store      22
Comment     0
dtype: int64

In [50]:
#remove null value
df.dropna(inplace=True)
df.isnull().sum()

Name       0
Time       0
Store      0
Comment    0
dtype: int64

In [52]:
#set NaN value
df['Comment'] = df['Comment'].replace('', np.nan)
df.isnull().sum()

Name           0
Time           0
Store          0
Comment    44920
dtype: int64

In [53]:
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert dream
1,WTFIWFYDB,09-03-2020,Amazon Go,not really lot people inside regardless online...
2,WTFIWFYDB,09-03-2020,Amazon Go,NaN
3,John Miller,10-03-2020,Amazon Go,laugh loud exactly
4,John Miller,10-03-2020,Amazon Go,NaN
...,...,...,...,...
268231,Hannah Thomas,02/11/2022,Smart Cart,okay thank
268232,Hannah Thomas,02/11/2022,Smart Cart,actual reason want able steal peace kelvin kufley
268233,Hookedmedia.1,02/11/2022,Smart Cart,NaN
268234,Kelvin_kufley,02/11/2022,Smart Cart,cause steal
268235,Hannah Thomas,02/11/2022,Smart Cart,yes literally exactly reason

In [54]:
#remove NaN value 
df.dropna(inplace=True)
df.isnull().sum()

Name       0
Time       0
Store      0
Comment    0
dtype: int64

In [72]:
df

,Name,Time,Store,Comment
0,Lisa Shen,08-03-2020,Amazon Go,every introvert dream
1,WTFIWFYDB,09-03-2020,Amazon Go,not really lot people inside regardless online...
3,John Miller,10-03-2020,Amazon Go,laugh loud exactly
6,John Miller,10-03-2020,Amazon Go,talk
7,Soundwave,11-03-2020,Amazon Go,win change anything introvert already self che...
...,...,...,...,...
268230,Lindseypatterson123,02/11/2022,Smart Cart,ok smart cart cancel just girl
268231,Hannah Thomas,02/11/2022,Smart Cart,okay thank
268232,Hannah Thomas,02/11/2022,Smart Cart,actual reason want able steal peace kelvin kufley
268234,Kelvin_kufley,02/11/2022,Smart Cart,cause steal
268235,Hannah Thomas,02/11/2022,Smart Cart,yes literally exactly reason

In [73]:
#show row in df 
df.shape

(223267, 4)

In [75]:
df = df.reset_index()

In [87]:
#to lower case 
df['Comment'] = df['Comment'].str.lower()
df.Comment[19]

'true'

In [85]:
#save dataframe to csv
df.to_csv('data_clean.csv', index=False)