In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Dataset.csv')
df

,Unnamed: 0,Name,Time,Store,Comment,Aspect,polarity
0,1,macantonioc,25-06-2007,DigInfo,interesting,shopping experience,positive
1,3,donkeyfly69,27-02-2008,DigInfo,not even seem convenient,shopping experience,neutral
2,5,donkeyfly69,27-02-2008,DigInfo,not want pay use shopping cart read recipe,technology,neutral
3,6,donkeyfly69,27-02-2008,DigInfo,not want pay use shopping cart read recipe,general,neutral
4,7,donkeyfly69,27-02-2008,DigInfo,not want pay use shopping cart read recipe,payment and checkout,neutral
...,...,...,...,...,...,...,...
181468,391042,Mark H.,09-09-2020,Walmart,call refund tell would take day get money back,price and value,neutral
181469,391043,Mark H.,09-09-2020,Walmart,call refund tell would take day get money back,payment and checkout,neutral
181470,391047,Lorna B.,09-09-2021,Walmart,far too many grocery available store not avail...,technology,neutral
181471,391048,Lorna B.,09-09-2021,Walmart,far too many grocery available store not avail...,general,neutral
181472,391050,NATISHA J.,09-09-2021,Walmart,place need walmart lead sell good merchandise ...,shopping experience,positive

In [7]:
#drop the column which year is 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017
df=df.drop(df[df['Time'].str[-4:]=='2007'].index)
df=df.drop(df[df['Time'].str[-4:]=='2008'].index)
df=df.drop(df[df['Time'].str[-4:]=='2009'].index)
df=df.drop(df[df['Time'].str[-4:]=='2010'].index)
df=df.drop(df[df['Time'].str[-4:]=='2011'].index)
df=df.drop(df[df['Time'].str[-4:]=='2012'].index)
df=df.drop(df[df['Time'].str[-4:]=='2013'].index)
df=df.drop(df[df['Time'].str[-4:]=='2014'].index)
df=df.drop(df[df['Time'].str[-4:]=='2015'].index)
df=df.drop(df[df['Time'].str[-4:]=='2016'].index)
df=df.drop(df[df['Time'].str[-4:]=='2017'].index)
df

,Unnamed: 0,Name,Time,Store,Comment,Aspect,polarity
558,1128,Jenae K.,01-06-2018,Amazon Go,store awesome super cool concept definitley se...,data integration,positive
559,1129,Jenae K.,01-06-2018,Amazon Go,store awesome super cool concept definitley se...,marketing and communication,positive
560,1131,Jenae K.,01-06-2018,Amazon Go,scan app enter store grab whatever want shelf ...,technology,positive
561,1132,Jenae K.,01-06-2018,Amazon Go,scan app enter store grab whatever want shelf ...,payment and checkout,positive
562,1134,Jenae K.,01-06-2018,Amazon Go,product shelf sensor know grab item,technology,neutral
...,...,...,...,...,...,...,...
181468,391042,Mark H.,09-09-2020,Walmart,call refund tell would take day get money back,price and value,neutral
181469,391043,Mark H.,09-09-2020,Walmart,call refund tell would take day get money back,payment and checkout,neutral
181470,391047,Lorna B.,09-09-2021,Walmart,far too many grocery available store not avail...,technology,neutral
181471,391048,Lorna B.,09-09-2021,Walmart,far too many grocery available store not avail...,general,neutral
181472,391050,NATISHA J.,09-09-2021,Walmart,place need walmart lead sell good merchandise ...,shopping experience,positive

In [8]:
#export to csv
df.to_csv('Dataset_DropYear.csv', index=False)

In [9]:
#drop comment with Store Walmart
df1=df.drop(df[df['Store']=='Walmart'].index)
df1

,Unnamed: 0,Name,Time,Store,Comment,Aspect,polarity
558,1128,Jenae K.,01-06-2018,Amazon Go,store awesome super cool concept definitley se...,data integration,positive
559,1129,Jenae K.,01-06-2018,Amazon Go,store awesome super cool concept definitley se...,marketing and communication,positive
560,1131,Jenae K.,01-06-2018,Amazon Go,scan app enter store grab whatever want shelf ...,technology,positive
561,1132,Jenae K.,01-06-2018,Amazon Go,scan app enter store grab whatever want shelf ...,payment and checkout,positive
562,1134,Jenae K.,01-06-2018,Amazon Go,product shelf sensor know grab item,technology,neutral
...,...,...,...,...,...,...,...
181237,390586,AJ M.,09-04-2022,Kroger,shelf not well stock,technology,negative
181238,390588,AJ M.,09-04-2022,Kroger,literally nag sign one card not need card pric...,technology,positive
181239,390589,AJ M.,09-04-2022,Kroger,literally nag sign one card not need card pric...,unemployment,positive
181240,390593,AJ M.,09-04-2022,Kroger,use fine place many year great management help...,shopping experience,positive
181241,390594,AJ M.,09-04-2022,Kroger,use fine place many year great management help...,unemployment,positive

In [10]:
#export to csv
df1.to_csv('Dataset_DropWalmart.csv', index=False)