In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('sampleDataset sentiment.csv')

In [5]:
df

,Unnamed: 0.1,Unnamed: 0,Name,Store,Time,Comment,Label,Aspect,polarity
0,0,0,P5490WRmaryd,Amazon Go,22/08/2022,small selection,[],[],neutral
1,1,1,P5490WRmaryd,Amazon Go,22/08/2022,interesting concept grab quick bite,['concept'],['general'],positive
2,2,2,P5490WRmaryd,Amazon Go,22/08/2022,small selection sandwich chip thing pop microwave,['thing'],['general'],neutral
3,3,3,P5490WRmaryd,Amazon Go,22/08/2022,beer wine,[],[],neutral
4,4,4,burr6013,Amazon Go,9/8/2022,small selection,[],[],neutral
...,...,...,...,...,...,...,...,...,...
135936,135936,139363,Lindseypatterson123,Smart Cart,2/11/2022,ok smart cart cancel girl,"['smart cart', 'cart']",['technology'],positive
135937,135937,139364,Hannah Thomas,Smart Cart,2/11/2022,okay thank,[],[],positive
135938,135938,139365,Hannah Thomas,Smart Cart,2/11/2022,actual reason want able steal peace kelvin kufley,[],[],positive
135939,135939,139366,Kelvin_kufley,Smart Cart,2/11/2022,cause steal,[],[],negative
135940,135940,139367,Hannah Thomas,Smart Cart,2/11/2022,yes literally exactly reason,[],[],positive

In [9]:
#drop unnecessary columns
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1','Name', 'Store', 'Label','Time'], axis=1)

In [10]:
# for aspect with multiple words, split them into separate rows
df = df.set_index(df.columns.drop('Aspect',1).tolist()).Aspect.str.split(',', expand=True).stack().reset_index().rename(columns={0:'Aspect'}).loc[:, df.columns]

In [19]:
# convert aspect to string with alphanumeric characters only
df['Aspect'] = df['Aspect'].str.replace('[^\w\s]','')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6268\3669242881.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Aspect'] = df['Aspect'].str.replace('[^\w\s]','')

In [26]:
# delete whitespace in aspect
df['Aspect'] = df['Aspect'].str.strip()

In [27]:
df

,Comment,Aspect,polarity
0,small selection,,neutral
1,interesting concept grab quick bite,general,positive
2,small selection sandwich chip thing pop microwave,general,neutral
3,beer wine,,neutral
4,small selection,,neutral
...,...,...,...
155275,ok smart cart cancel girl,technology,positive
155276,okay thank,,positive
155277,actual reason want able steal peace kelvin kufley,,positive
155278,cause steal,,negative
155279,yes literally exactly reason,,positive

In [28]:
# drop rows with empty aspect
df2 = df[df['Aspect'] != '']
# count the number of rows
df2.count()

Comment     76259
Aspect      76259
polarity    76259
dtype: int64

In [30]:
# count unique aspects
df2['Aspect'].nunique()

9

In [31]:
#print unique aspects
df2['Aspect'].unique()

array(['general', 'experience', 'payment', 'technology', 'availability',
       'price', 'unemployment', 'privacy', 'marketing'], dtype=object)

In [25]:
df2.to_csv('sampleDataset.csv')