In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df= pd.read_csv('chuan.csv')
df

,index,Name,Time,Store,Comment
0,86295,macantonioc,25/06/2007,DigInfo,interesting
1,86288,donkeyfly69,27/02/2008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27/02/2008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27/02/2008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27/02/2008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09/12/2022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09/12/2022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09/12/2022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09/12/2022,Walmart,horrible customer service
124626,120758,Am AW,09/12/2022,Walmart,expressionless face

In [12]:
df.dtypes

index       int64
Name       object
Time       object
Store      object
Comment    object
dtype: object

In [13]:
# change time column to string type
df['Time'] = df['Time'].astype(str)
#from string format Aug. 16, 2008 to 16/08/2008
# change Sep. 16, 2008 to 16/09/2008, Aug. 16, 2008 to 16/08/2008, etc in Time column
df['Time'] = df['Time'].str.replace('January', '01')
df['Time'] = df['Time'].str.replace('February', '02')
df['Time'] = df['Time'].str.replace('March', '03')
df['Time'] = df['Time'].str.replace('April', '04')
df['Time'] = df['Time'].str.replace('May', '05')
df['Time'] = df['Time'].str.replace('June', '06')
df['Time'] = df['Time'].str.replace('July', '07')
df['Time'] = df['Time'].str.replace('August', '08')
df['Time'] = df['Time'].str.replace('September', '09')
df['Time'] = df['Time'].str.replace('October', '10')
df['Time'] = df['Time'].str.replace('November', '11')
df['Time'] = df['Time'].str.replace('December', '12')
df

,index,Name,Time,Store,Comment
0,86295,macantonioc,25/06/2007,DigInfo,interesting
1,86288,donkeyfly69,27/02/2008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27/02/2008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27/02/2008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27/02/2008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09/12/2022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09/12/2022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09/12/2022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09/12/2022,Walmart,horrible customer service
124626,120758,Am AW,09/12/2022,Walmart,expressionless face

In [14]:
# keep number and remove character and alphabet in Time column
df['Time'] = df['Time'].str.replace('[a-zA-Z]', '')
df

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\1946158695.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('[a-zA-Z]', '')

,index,Name,Time,Store,Comment
0,86295,macantonioc,25/06/2007,DigInfo,interesting
1,86288,donkeyfly69,27/02/2008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27/02/2008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27/02/2008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27/02/2008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09/12/2022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09/12/2022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09/12/2022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09/12/2022,Walmart,horrible customer service
124626,120758,Am AW,09/12/2022,Walmart,expressionless face

In [15]:
# 09 9 2022 to 09 09 2022 in Time column if len month is 1 digit and len day is 1 digit
df['Time'] = df['Time'].str.replace(' 9, ', ' 09 ')
df['Time'] = df['Time'].str.replace(' 8, ', ' 08 ')
df['Time'] = df['Time'].str.replace(' 7, ', ' 07 ')
df['Time'] = df['Time'].str.replace(' 6, ', ' 06 ')
df['Time'] = df['Time'].str.replace(' 5, ', ' 05 ')
df['Time'] = df['Time'].str.replace(' 4, ', ' 04 ')
df['Time'] = df['Time'].str.replace(' 3, ', ' 03 ')
df['Time'] = df['Time'].str.replace(' 2, ', ' 02 ')
df['Time'] = df['Time'].str.replace(' 1, ', ' 01 ')
df

,index,Name,Time,Store,Comment
0,86295,macantonioc,25/06/2007,DigInfo,interesting
1,86288,donkeyfly69,27/02/2008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27/02/2008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27/02/2008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27/02/2008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09/12/2022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09/12/2022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09/12/2022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09/12/2022,Walmart,horrible customer service
124626,120758,Am AW,09/12/2022,Walmart,expressionless face

In [16]:
#remove , . space in Time column
df['Time'] = df['Time'].str.replace(',', '')
df['Time'] = df['Time'].str.replace('.', '')
#remove !@#$%^& punctuation in Time column
df['Time'] = df['Time'].str.replace('!', '')
df['Time'] = df['Time'].str.replace('@', '')
df['Time'] = df['Time'].str.replace('#', '')
df['Time'] = df['Time'].str.replace('$', '')
df['Time'] = df['Time'].str.replace('%', '')
df['Time'] = df['Time'].str.replace('^', '')
df['Time'] = df['Time'].str.replace('&', '')
df['Time'] = df['Time'].str.replace('*', '')
df['Time'] = df['Time'].str.replace('(', '')
df['Time'] = df['Time'].str.replace(')', '')
df['Time'] = df['Time'].str.replace('-', '')
df['Time'] = df['Time'].str.replace('_', '')
df['Time'] = df['Time'].str.replace('+', '')
df['Time'] = df['Time'].str.replace('=', '')
df['Time'] = df['Time'].str.replace('{', '')
df['Time'] = df['Time'].str.replace('}', '')
df['Time'] = df['Time'].str.replace('[', '')
df['Time'] = df['Time'].str.replace(']', '')
df['Time'] = df['Time'].str.replace('|', '')
df['Time'] = df['Time'].str.replace(':', '')
df['Time'] = df['Time'].str.replace(';', '')
df['Time'] = df['Time'].str.replace('"', '')
df['Time'] = df['Time'].str.replace("'", '')
df['Time'] = df['Time'].str.replace('<', '')
df['Time'] = df['Time'].str.replace('>', '')
df['Time'] = df['Time'].str.replace('?', '')
df['Time'] = df['Time'].str.replace('/', '')
df['Time'] = df['Time'].str.replace(' ', '')
df

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('.', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('$', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('^', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('*', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('(', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace(')', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('+', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('{', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('}', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('[', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace(']', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('|', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_15952\2626648843.py:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('?', '')

,index,Name,Time,Store,Comment
0,86295,macantonioc,25062007,DigInfo,interesting
1,86288,donkeyfly69,27022008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27022008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27022008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27022008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09122022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09122022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09122022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09122022,Walmart,horrible customer service
124626,120758,Am AW,09122022,Walmart,expressionless face

In [17]:
# remove space in Time column
df['Time'] = df['Time'].str.replace(' ', '')
#insert / in Time column at i =1 and i =3 
df['Time'] = df['Time'].str[:2] + '/' + df['Time'].str[2:4] + '/' + df['Time'].str[4:]
df

,index,Name,Time,Store,Comment
0,86295,macantonioc,25/06/2007,DigInfo,interesting
1,86288,donkeyfly69,27/02/2008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27/02/2008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27/02/2008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27/02/2008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09/12/2022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09/12/2022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09/12/2022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09/12/2022,Walmart,horrible customer service
124626,120758,Am AW,09/12/2022,Walmart,expressionless face

In [18]:
#from string format 08 16 2008 to datetimw type 16/08/2008
df['Time'] = pd.to_datetime(df['Time'], format='%d/%m/%Y')

In [19]:
#change  2022-09-22 to 22/09/2022
df['Time'] = df['Time'].dt.strftime('%d/%m/%Y')
df

,index,Name,Time,Store,Comment
0,86295,macantonioc,25/06/2007,DigInfo,interesting
1,86288,donkeyfly69,27/02/2008,DigInfo,not even seem convenient
2,86291,donkeyfly69,27/02/2008,DigInfo,not want pay use shopping cart read recipe
3,86292,donkeyfly69,27/02/2008,DigInfo,invade privacy way much just get grocery
4,86293,donkeyfly69,27/02/2008,DigInfo,not even deep
...,...,...,...,...,...
124622,120754,Am AW,09/12/2022,Walmart,love amazon buy everything amazon reason
124623,120755,Am AW,09/12/2022,Walmart,call amazon one time deal seller not reply fir...
124624,120756,Am AW,09/12/2022,Walmart,never ever ever ever buy walmart hope amazon t...
124625,120757,Am AW,09/12/2022,Walmart,horrible customer service
124626,120758,Am AW,09/12/2022,Walmart,expressionless face

In [20]:
#to csv file
df.to_csv('chuanx.csv', index=False)