IMPORT THƯ VIỆN

In [23]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
from bs4 import BeautifulSoup
pd.options.mode.chained_assignment = None
from re import sub
import csv
import html as ihtml

In [24]:
df = pd.read_csv('crawtopreprocess.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84736 entries, 0 to 84735
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  84736 non-null  int64
 1   Name        84736 non-null  object
 2   Time        84736 non-null  object
 3   Store       84736 non-null  object
 4   Comment     84736 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.2+ MB

In [25]:
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,Interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it doesn&#39;t even seem more convenient...\r\...
2,34398,upanddownlevel9,2009-02-13,DigInfo,hmm why dont we just use our brains while we s...
3,34397,Serenity'sEdge,2009-10-19,DigInfo,"The more electronic we become, the more power ..."
4,34396,jordandaperson,2009-06-11,DigInfo,its a product aimed at customer loyalty and co...
...,...,...,...,...,...
84731,39876,Karen g.,2016-09-09,Walmart,"Good service, I love Walmart site to store"
84732,39347,Eric M.,2017-09-09,Walmart,"Good, A lot of selection but a little slow on ..."
84733,36995,Mark H.,2020-09-09,Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
84734,37048,Lorna B.,2021-09-09,Walmart,"Improved, Site is much improved, but there are..."
84735,37059,NATISHA J.,2021-09-09,Walmart,"A place for all your needs, Walmart is in the ..."

1. XÓA URL

In [26]:
df["Comment"] = df["Comment"].astype(str)

In [27]:
def clean_text(text):
    text = BeautifulSoup(ihtml.unescape(text)).text
    text = re.sub(r"http[s]?://\S+", "", text)
    text = re.sub(r"\s+", " ", text)    
    return text

In [28]:
for i in range(len(df)):
  df.Comment[i]=clean_text(df.Comment[i])

C:\Users\HienPhuong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
C:\Users\HienPhuong\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\bs4\__init__.py:404: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [29]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)
for i in range(len(df)):
  df.Comment[i]=remove_urls(df.Comment[i])

In [30]:
df.Comment

0                                              Interesting
1        it doesn't even seem more convenient... i don'...
2        hmm why dont we just use our brains while we s...
3        The more electronic we become, the more power ...
4        its a product aimed at customer loyalty and co...
                               ...
84731           Good service, I love Walmart site to store
84732    Good, A lot of selection but a little slow on ...
84733    Lost my shipment AGAIN, Twice in a row they de...
84734    Improved, Site is much improved, but there are...
84735    A place for all your needs, Walmart is in the ...
Name: Comment, Length: 84736, dtype: object

remove html tag

In [31]:
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

df["Comment"] = df["Comment"].apply(lambda text: remove_html(text))
df.head()

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,Interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it doesn't even seem more convenient... i don'...
2,34398,upanddownlevel9,2009-02-13,DigInfo,hmm why dont we just use our brains while we s...
3,34397,Serenity'sEdge,2009-10-19,DigInfo,"The more electronic we become, the more power ..."
4,34396,jordandaperson,2009-06-11,DigInfo,its a product aimed at customer loyalty and co...

Expand Constraction

In [32]:
# Dictionary of English Contractions
contractions_dict = { "ain't": "are not","'s":" is","aren't": "are not",
                     "can't": "cannot","can't've": "cannot have",
                     "'cause": "because","could've": "could have","couldn't": "could not",
                     "couldn't've": "could not have", "didn't": "did not","doesn't": "does not",
                     "don't": "do not","hadn't": "had not","hadn't've": "had not have",
                     "hasn't": "has not","haven't": "have not","he'd": "he would",
                     "he'd've": "he would have","he'll": "he will", "he'll've": "he will have",
                     "how'd": "how did","how'd'y": "how do you","how'll": "how will",
                     "i'd": "i would", "i'd've": "i would have","i'll": "i will", 
                     "i'll've": "i will have","i'm": "i am","i've": "i have", "isn't": "is not",
                     "it'd": "it would","it'd've": "it would have","it'll": "it will",
                     "it'll've": "it will have", "let's": "let us","ma'am": "madam",
                     "mayn't": "may not","might've": "might have","mightn't": "might not", 
                     "mightn't've": "might not have","must've": "must have","mustn't": "must not",
                     "mustn't've": "must not have", "needn't": "need not",
                     "needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not",
                     "oughtn't've": "ought not have","shan't": "shall not","sha'n't": "shall not",
                     "shan't've": "shall not have","she'd": "she would","she'd've": "she would have",
                     "she'll": "she will", "she'll've": "she will have","should've": "should have",
                     "shouldn't": "should not", "shouldn't've": "should not have","so've": "so have",
                     "that'd": "that would","that'd've": "that would have", "there'd": "there would",
                     "there'd've": "there would have", "they'd": "they would",
                     "they'd've": "they would have","they'll": "they will",
                     "they'll've": "they will have", "they're": "they are","they've": "they have",
                     "to've": "to have","wasn't": "was not","we'd": "we would",
                     "we'd've": "we would have","we'll": "we will","we'll've": "we will have",
                     "we're": "we are","we've": "we have", "weren't": "were not","what'll": "what will",
                     "what'll've": "what will have","what're": "what are", "what've": "what have",
                     "when've": "when have","where'd": "where did", "where've": "where have",
                     "who'll": "who will","who'll've": "who will have","who've": "who have",
                     "why've": "why have","will've": "will have","won't": "will not",
                     "won't've": "will not have", "would've": "would have","wouldn't": "would not",
                     "wouldn't've": "would not have","y'all": "you all", "y'all'd": "you all would",
                     "y'all'd've": "you all would have","y'all're": "you all are",
                     "y'all've": "you all have", "you'd": "you would","you'd've": "you would have",
                     "you'll": "you will","you'll've": "you will have", "you're": "you are",
                     "you've": "you have"}

# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

# Function for expanding contractions
def expand_contractions(text,contractions_dict=contractions_dict):
  def replace(match):
    return contractions_dict[match.group(0)]
  return contractions_re.sub(replace, text)

# Expanding Contractions in the reviews
df['Comment']=df['Comment'].apply(lambda x:expand_contractions(x))

In [33]:
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,Interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it does not even seem more convenient... i do ...
2,34398,upanddownlevel9,2009-02-13,DigInfo,hmm why dont we just use our brains while we s...
3,34397,Serenity'sEdge,2009-10-19,DigInfo,"The more electronic we become, the more power ..."
4,34396,jordandaperson,2009-06-11,DigInfo,its a product aimed at customer loyalty and co...
...,...,...,...,...,...
84731,39876,Karen g.,2016-09-09,Walmart,"Good service, I love Walmart site to store"
84732,39347,Eric M.,2017-09-09,Walmart,"Good, A lot of selection but a little slow on ..."
84733,36995,Mark H.,2020-09-09,Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
84734,37048,Lorna B.,2021-09-09,Walmart,"Improved, Site is much improved, but there are..."
84735,37059,NATISHA J.,2021-09-09,Walmart,"A place for all your needs, Walmart is in the ..."

in lớn để chat word

In [34]:
df["Comment"] = df["Comment"].str.upper()
df.Comment

0                                              INTERESTING
1        IT DOES NOT EVEN SEEM MORE CONVENIENT... I DO ...
2        HMM WHY DONT WE JUST USE OUR BRAINS WHILE WE S...
3        THE MORE ELECTRONIC WE BECOME, THE MORE POWER ...
4        ITS A PRODUCT AIMED AT CUSTOMER LOYALTY AND CO...
                               ...
84731           GOOD SERVICE, I LOVE WALMART SITE TO STORE
84732    GOOD, A LOT OF SELECTION BUT A LITTLE SLOW ON ...
84733    LOST MY SHIPMENT AGAIN, TWICE IN A ROW THEY DE...
84734    IMPROVED, SITE IS MUCH IMPROVED, BUT THERE ARE...
84735    A PLACE FOR ALL YOUR NEEDS, WALMART IS IN THE ...
Name: Comment, Length: 84736, dtype: object

Chuẩn hóa 1 số từ viết tắt

In [35]:
chat_words_str = """
AFAIK=As Far As I Know
AFK=Away From Keyboard
ASAP=As Soon As Possible
ATK=At The Keyboard
ATM=At The Moment
A3=Anytime, Anywhere, Anyplace
BAK=Back At Keyboard
BBL=Be Back Later
BBS=Be Back Soon
BFN=Bye For Now
B4N=Bye For Now
BRB=Be Right Back
BRT=Be Right There
BTW=By The Way
B4=Before
B4N=Bye For Now
CU=See You
CUL8R=See You Later
CYA=See You
FAQ=Frequently Asked Questions
FC=Fingers Crossed
FWIW=For What It's Worth
FYI=For Your Information
GAL=Get A Life
GG=Good Game
GN=Good Night
GMTA=Great Minds Think Alike
GR8=Great!
G9=Genius
IC=I See
ICQ=I Seek you (also a chat program)
ILU=ILU: I Love You
IMHO=In My Honest/Humble Opinion
IMO=In My Opinion
IOW=In Other Words
IRL=In Real Life
KISS=Keep It Simple, Stupid
LDR=Long Distance Relationship
LMAO=Laugh My A.. Off
LOL=Laughing Out Loud
LTNS=Long Time No See
L8R=Later
MTE=My Thoughts Exactly
M8=Mate
NRN=No Reply Necessary
OIC=Oh I See
PITA=Pain In The A..
PRT=Party
PRW=Parents Are Watching
ROFL=Rolling On The Floor Laughing
ROFLOL=Rolling On The Floor Laughing Out Loud
ROTFLMAO=Rolling On The Floor Laughing My A.. Off
SK8=Skate
STATS=Your sex and age
ASL=Age, Sex, Location
THX=Thank You
TTFN=Ta-Ta For Now!
TTYL=Talk To You Later
U=You
U2=You Too
U4E=Yours For Ever
WB=Welcome Back
WTF=What The F...
WTG=Way To Go!
WUF=Where Are You From?
W8=Wait...
7K=Sick:-D Laugher
&=and
"""

In [36]:
chat_words_map_dict = {}
chat_words_list = []
for line in chat_words_str.split("\n"):
    if line != "":
        cw = line.split("=")[0]
        cw_expanded = line.split("=")[1]
        chat_words_list.append(cw)
        chat_words_map_dict[cw] = cw_expanded
chat_words_list = set(chat_words_list)

def chat_words_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words_list:
            new_text.append(chat_words_map_dict[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [37]:
for i in range(len(df)):
  df.Comment[i]=chat_words_conversion(df.Comment[i])

2. Đưa dữ liệu về chữ thường

In [38]:
df["Comment"] = df["Comment"].str.lower()
df.Comment

0                                              interesting
1        it does not even seem more convenient... i do ...
2        hmm why dont we just use our brains while we s...
3        the more electronic we become, the more power ...
4        its a product aimed at customer loyalty and co...
                               ...
84731           good service, i love walmart site to store
84732    good, a lot of selection but a little slow on ...
84733    lost my shipment again, twice in a row they de...
84734    improved, site is much improved, but there are...
84735    a place for all your needs, walmart is in the ...
Name: Comment, Length: 84736, dtype: object

In [39]:
from itertools import groupby

In [40]:
def remove_repeatcharacter(text):
    return ''.join(''.join(s)[:2] for _, s in groupby(text))
df["Comment"] = df["Comment"].apply(lambda text: remove_repeatcharacter(text))

In [41]:
# remove tag @username
df["Comment"] = df["Comment"].str.replace("@[A-Za-z0-9]+","")

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_4264\1403891560.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Comment"] = df["Comment"].str.replace("@[A-Za-z0-9]+","")

In [42]:
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it does not even seem more convenient.. i do n...
2,34398,upanddownlevel9,2009-02-13,DigInfo,hmm why dont we just use our brains while we s...
3,34397,Serenity'sEdge,2009-10-19,DigInfo,"the more electronic we become, the more power ..."
4,34396,jordandaperson,2009-06-11,DigInfo,its a product aimed at customer loyalty and co...
...,...,...,...,...,...
84731,39876,Karen g.,2016-09-09,Walmart,"good service, i love walmart site to store"
84732,39347,Eric M.,2017-09-09,Walmart,"good, a lot of selection but a little slow on ..."
84733,36995,Mark H.,2020-09-09,Walmart,"lost my shipment again, twice in a row they de..."
84734,37048,Lorna B.,2021-09-09,Walmart,"improved, site is much improved, but there are..."
84735,37059,NATISHA J.,2021-09-09,Walmart,"a place for all your needs, walmart is in the ..."

Chuyển emoji, emoticon -> text

In [43]:
!pip install emot

Requirement already satisfied: emot in c:\users\hienphuong\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1)

In [44]:
import re
from emot.emo_unicode import EMOTICONS_EMO
def convert_emoticons(text):
    for emot in EMOTICONS_EMO:
        text = text.replace(emot, " ".join(EMOTICONS_EMO[emot].replace(",","").replace(":","").split()))
    return text

convert_emoticons(":) 😊")

'Happy face or smiley 😊'

In [45]:
pip install emoji

Requirement already satisfied: emoji in c:\users\hienphuong\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
pip install demoji

Requirement already satisfied: demoji in c:\users\hienphuong\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.1.0)Note: you may need to restart the kernel to use updated packages.

In [47]:
import emoji
def extract_emojis(text):
     new_text = []
     new_text.append(emoji.demojize(text, delimiters=("", "")))
     return " ".join(new_text)

In [48]:
extract_emojis("😊")

'smiling_face_with_smiling_eyes'

In [49]:
for i in range(len(df)):
  df.Comment[i]=extract_emojis(df.Comment[i])

In [50]:
df['Comment'] = df['Comment'].str.replace("_", " ")

In [51]:
df['Comment'] = df['Comment'].str.replace("-", " ")

In [52]:
df['Comment'] = df['Comment'].str.replace("  ", " ")

In [53]:
df.Comment= df.Comment.str.replace(r'\b\w\b', '').str.replace(r'\s+', ' ')
df.Comment

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_4264\1485136920.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.Comment= df.Comment.str.replace(r'\b\w\b', '').str.replace(r'\s+', ' ')

0                                              interesting
1        it does not even seem more convenient.. do not...
2        hmm why dont we just use our brains while we s...
3        the more electronic we become, the more power ...
4        its product aimed at customer loyalty and conv...
                               ...
84731             good service, love walmart site to store
84732    good, lot of selection but little slow on the ...
84733    lost my shipment again, twice in row they dela...
84734    improved, site is much improved, but there are...
84735     place for all your needs, walmart is in the l...
Name: Comment, Length: 84736, dtype: object

In [54]:
# lemmatize words with spacy
import spacy
nlp = spacy.load('en_core_web_sm')
def lemmatize_words(text):
    return " ".join([token.lemma_ for token in nlp(text)])
text = "last day i did homework, walked . now i am going to work. today he goes to school, police walks to school"
lemmatize_words(text)
# apply lemmatize_words function to comment column
df["Comment"] = df["Comment"].apply(lambda text: lemmatize_words(text))

tách câu

In [55]:
df = (
 df.assign(Comment=df['Comment'].str.split('.'))
   .explode('Comment')
   .reset_index(drop=True)
)
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it do not even seem more convenient
2,34399,donkeyfly69,2008-02-27,DigInfo,
3,34399,donkeyfly69,2008-02-27,DigInfo,do not want to pay to use shopping cart or re...
4,34399,donkeyfly69,2008-02-27,DigInfo,invade my privacy way to much just to get gro...
...,...,...,...,...,...
252659,36995,Mark H.,2020-09-09,Walmart,
252660,37048,Lorna B.,2021-09-09,Walmart,"improve , site be much improve , but there be ..."
252661,37048,Lorna B.,2021-09-09,Walmart,
252662,37059,NATISHA J.,2021-09-09,Walmart,"place for all your need , walmart be in the ..."
252663,37059,NATISHA J.,2021-09-09,Walmart,

In [56]:
df = (
 df.assign(Comment=df['Comment'].str.split('except'))
   .explode('Comment')
   .reset_index(drop=True)
)
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it do not even seem more convenient
2,34399,donkeyfly69,2008-02-27,DigInfo,
3,34399,donkeyfly69,2008-02-27,DigInfo,do not want to pay to use shopping cart or re...
4,34399,donkeyfly69,2008-02-27,DigInfo,invade my privacy way to much just to get gro...
...,...,...,...,...,...
253055,36995,Mark H.,2020-09-09,Walmart,
253056,37048,Lorna B.,2021-09-09,Walmart,"improve , site be much improve , but there be ..."
253057,37048,Lorna B.,2021-09-09,Walmart,
253058,37059,NATISHA J.,2021-09-09,Walmart,"place for all your need , walmart be in the ..."
253059,37059,NATISHA J.,2021-09-09,Walmart,

In [57]:
df = (
 df.assign(Comment=df['Comment'].str.split('but'))
   .explode('Comment')
   .reset_index(drop=True)
)
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,it do not even seem more convenient
2,34399,donkeyfly69,2008-02-27,DigInfo,
3,34399,donkeyfly69,2008-02-27,DigInfo,do not want to pay to use shopping cart or re...
4,34399,donkeyfly69,2008-02-27,DigInfo,invade my privacy way to much just to get gro...
...,...,...,...,...,...
268129,37048,Lorna B.,2021-09-09,Walmart,"improve , site be much improve ,"
268130,37048,Lorna B.,2021-09-09,Walmart,there be far too many grocery available in th...
268131,37048,Lorna B.,2021-09-09,Walmart,
268132,37059,NATISHA J.,2021-09-09,Walmart,"place for all your need , walmart be in the ..."
268133,37059,NATISHA J.,2021-09-09,Walmart,

BỎ SỐ, BỎ DẤU CÂU

In [58]:
df['Comment'] = df['Comment'].str.replace('\d+', '')
df.Comment

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_4264\761449715.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Comment'] = df['Comment'].str.replace('\d+', '')

0                                               interesting
1                      it do not even seem more convenient
2
3          do not want to pay to use shopping cart or re...
4          invade my privacy way to much just to get gro...
                                ...
268129                    improve , site be much improve ,
268130     there be far too many grocery available in th...
268131
268132      place for all your need , walmart be in the ...
268133
Name: Comment, Length: 268134, dtype: object

In [59]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["Comment"] = df["Comment"].apply(lambda text: remove_punctuation(text))

In [60]:
df.Comment

0                                               interesting
1                      it do not even seem more convenient
2
3          do not want to pay to use shopping cart or re...
4          invade my privacy way to much just to get gro...
                                ...
268129                      improve  site be much improve
268130     there be far too many grocery available in th...
268131
268132      place for all your need  walmart be in the l...
268133
Name: Comment, Length: 268134, dtype: object

XÓA STOPWORDS

In [61]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [62]:
# stop_words = stopwords.words('english').remove("not", "no", "never", "nor", "but","too", "very", "can", "but", "very", "just", "don", "doesn", "didn", "wasn", "weren", "isn", "aren", "haven", "hasn", "hadn", "won", "wouldn", "shouldn", "couldn", "mustn", "mightn", "needn", "shan",  "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't")
# stop_words
all_stopwords = stopwords.words('english')
all_stopwords.remove('not')
all_stopwords.remove('nor')
all_stopwords.remove('no')
all_stopwords.remove('but')
all_stopwords.remove('too')
all_stopwords.remove('very')
all_stopwords.remove('just')
all_stopwords.remove('don')
all_stopwords.remove('doesn')
all_stopwords.remove('didn')
all_stopwords.remove('wasn')
all_stopwords.remove('weren')
all_stopwords.remove('isn')
all_stopwords.remove('aren')
all_stopwords.remove('haven')
all_stopwords.remove('hasn')
all_stopwords.remove('hadn')
all_stopwords.remove('won')
all_stopwords.remove('wouldn')
all_stopwords.remove('shouldn')
all_stopwords.remove('couldn')
all_stopwords.remove('mustn')
all_stopwords.remove('mightn')
all_stopwords.remove('needn')
all_stopwords.remove('shan')
print(all_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 's', 't', 'can', 'will', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', "aren't", "couldn't", "didn't", "doesn't", "hadn't", "hasn't", "haven't", "isn't", 'ma', "mightn't", "mustn't", "needn't", "shan't", "shouldn't", "wasn't", "weren't", "won't", "wouldn't"]

In [63]:
# remove stopwords in all_stopwords
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in all_stopwords])
text= "i dont like he because he is bad not do it please don't"
remove_stopwords(text)

'dont like bad not please'

In [64]:
df["Comment"] = df["Comment"].apply(lambda text: remove_stopwords(text))

Remove ký tự lạ, ko xóa white space

In [65]:
df['Comment']=df['Comment'].str.replace('[^\w\s]', '')
#show comment
df.Comment

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_4264\3429141368.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Comment']=df['Comment'].str.replace('[^\w\s]', '')

0                                               interesting
1                                  not even seem convenient
2
3                not want pay use shopping cart read recipe
4                  invade privacy way much just get grocery
                                ...
268129                            improve site much improve
268130    far too many grocery available store not avail...
268131
268132    place need walmart lead sell good merchandise ...
268133
Name: Comment, Length: 268134, dtype: object

In [66]:
#remove character 1 word nonsens 
df['Comment'] = df['Comment'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))
#show change after remove character 1 word nonsens
df.Comment

0                                               interesting
1                                  not even seem convenient
2
3                not want pay use shopping cart read recipe
4                  invade privacy way much just get grocery
                                ...
268129                            improve site much improve
268130    far too many grocery available store not avail...
268131
268132    place need walmart lead sell good merchandise ...
268133
Name: Comment, Length: 268134, dtype: object

In [67]:
# count row in df 
df.shape

(268134, 5)

In [68]:
#check and remove null value
df.isnull().sum()

Unnamed: 0    0
Name          0
Time          0
Store         0
Comment       0
dtype: int64

In [69]:
#remove null value
df.dropna(inplace=True)
df.isnull().sum()

Unnamed: 0    0
Name          0
Time          0
Store         0
Comment       0
dtype: int64

In [70]:
#set NaN value
df['Comment'] = df['Comment'].replace('', np.nan)
df.isnull().sum()

Unnamed: 0        0
Name              0
Time              0
Store             0
Comment       44874
dtype: int64

In [71]:
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,not even seem convenient
2,34399,donkeyfly69,2008-02-27,DigInfo,NaN
3,34399,donkeyfly69,2008-02-27,DigInfo,not want pay use shopping cart read recipe
4,34399,donkeyfly69,2008-02-27,DigInfo,invade privacy way much just get grocery
...,...,...,...,...,...
268129,37048,Lorna B.,2021-09-09,Walmart,improve site much improve
268130,37048,Lorna B.,2021-09-09,Walmart,far too many grocery available store not avail...
268131,37048,Lorna B.,2021-09-09,Walmart,NaN
268132,37059,NATISHA J.,2021-09-09,Walmart,place need walmart lead sell good merchandise ...
268133,37059,NATISHA J.,2021-09-09,Walmart,NaN

In [72]:
#remove NaN value 
df.dropna(inplace=True)
df.isnull().sum()

Unnamed: 0    0
Name          0
Time          0
Store         0
Comment       0
dtype: int64

In [73]:
df

,Unnamed: 0,Name,Time,Store,Comment
0,34400,macantonioc,2007-06-25,DigInfo,interesting
1,34399,donkeyfly69,2008-02-27,DigInfo,not even seem convenient
3,34399,donkeyfly69,2008-02-27,DigInfo,not want pay use shopping cart read recipe
4,34399,donkeyfly69,2008-02-27,DigInfo,invade privacy way much just get grocery
5,34399,donkeyfly69,2008-02-27,DigInfo,not even deep
...,...,...,...,...,...
268126,36995,Mark H.,2020-09-09,Walmart,call refund tell would take day get money back
268127,36995,Mark H.,2020-09-09,Walmart,walmart
268129,37048,Lorna B.,2021-09-09,Walmart,improve site much improve
268130,37048,Lorna B.,2021-09-09,Walmart,far too many grocery available store not avail...
268132,37059,NATISHA J.,2021-09-09,Walmart,place need walmart lead sell good merchandise ...

In [74]:
#show row in df 
df.shape

(223260, 5)

In [75]:
df = df.reset_index()

In [76]:
#to lower case 
df['Comment'] = df['Comment'].str.lower()
df.Comment[19]

'go cheap good'

In [78]:
df.dtypes

index          int64
Unnamed: 0     int64
Name          object
Time          object
Store         object
Comment       object
dtype: object

In [79]:
#Time coulumn to datetime
df['Time'] = pd.to_datetime(df['Time'])
df.dtypes

index                  int64
Unnamed: 0             int64
Name                  object
Time          datetime64[ns]
Store                 object
Comment               object
dtype: object

In [77]:
#save dataframe to csv
df.to_csv('FinalPreprocess.csv', index=False)